body{
  font-family: Cursive;
  margin:0;
  background:#A0DBCE;
  color: deeppink;
}

header{
  text-align:center;
  padding:60px;
}

section{
  padding:40px;
}

.project{
  background:#36665C;
  padding:20px;
  margin:20px 0;
  border-radius:10px;

}




